<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<head>
<meta charset="UTF-8" />
<title>Agencia</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<link rel="stylesheet" type="text/css" href="/css/bootstrap-datepicker.standalone.min.css" />
</head>

<body>
	<div class="container-fluid">
		<nav class="navbar navbar-dark bg-dark">
			<a class="navbar-brand" href="/moto">
			<img src="/imagens/moto.png" width="40" height="40">Motos Honda</a>
		</nav>
	</div>

<div class="card">
		
			<div class="clearfix">
				<h5 class="card-title botao-pesquisa">Motos Cadastradas</h5>
				<a class="btn btn-link botao-novo" href="/moto">
					<button type="button" class="btn btn-outline-primary">Nova
						Moto</button>
				</a> <img src="/imagens/moto3.png" width="20" height="20" id="icone">
			</div>
			
			
			
			<div class="card-body">
				<div id="tabela">
					<table class="table table-striped table table-bordered" height="0" >
						<thead>
							<tr>
								<th class="text-center" width="10%">#</th>
								<th>Modelo</th>
								<th class="text-right" width="10%">Ano</th>
								<th class="text-center" width="15%">Valor de Venda</th>
								<th class="text-right" width="10%">Status</th>
								<th width="15%"></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each=" veiculo : ${motos}">
								<td class = "text-center" th:text= "${veiculo.codigo}"></td>
								<td th:text="${veiculo.modelo}"></td>
								<td class="text-right" th:text="${veiculo.ano.ano}"></td>
								<td class="text-center"  th:text="|R$ ${{veiculo.valorVenda}}|"></td>
								<td class="text-right" th:text="${veiculo.status.descricao}">
								<button type="button" class="btn btn-secondary">Secondary</button>
									</td>
								<td class="text-center">
									<a class = "btn btn-link btn-xs" title="Editar" rel="tooltip" data-placement="top" > 
									<span  ><img src="/imagens/editar.png" width="25" height="25" id="icone-editar"> </span>
									</a>
									<a class = "btn btn-link btn-xs" title="Excluir" rel="tooltip" data-placement="top" > 
									<span  ><img src="/imagens/excluir.png" width="25" height="25" id="icone-editar"> </span>
									</a>
									
									<a class = "btn btn-link btn-xs" title="Vender" rel="tooltip" data-placement="top" > 
									<span  ><img src="/imagens/vender.png" width="25" height="25" id="icone-editar"> </span>
									</a>
								</td>
								
							</tr>
							<tr>
								<td colspan="6" th:if="${#lists.isEmpty(motos)}">Nenhum Título foi encontrado!</td>
							</tr>
						</tbody>
					</table>
				</div>
		<div layout:insert="ExcluirTitulo"></div>
			</div>
</div>			



	<script src="/js/jquery-3.4.1.min.js"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/jquery.maskMoney.min.js}"></script>
	
	<script src="/js/motos.js"></script>

	
</body>
</html>