<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<head>
<meta charset="UTF-8" />
<title>Motos</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/style.css" />


</head>

<body>
	<div class="container-fluid">
		<nav class="navbar navbar-dark bg-dark">
			<a class="navbar-brand" href="/moto">
			<img src="/imagens/moto.png" width="201" height="40"></a>
		</nav>
	</div>
	
	
<form class="card" method="POST" action="/moto" th:object="${cadastroMoto}">

<div class="alert alert-success" th:if="${! #strings.isEmpty(mensagem)}">
	<span th:text="${mensagem}" >Moto salva com sucesso!</span>
		<button type="button" class="close " data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
</div>

<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
		<button type="button" class="close " data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	<div th:each="detailedError : ${#fields.detailedErrors()} ">
		<span th:text="${detailedError.message}"></span>
	</div>
</div>



<div class="card card-body">
	<div class="card-body">
	<input type="hidden" th:field="*{codigo}" />
			<h5 class="card-title botao-pesquisa"> Cadastrar Nova Moto
				<img src="/imagens/moto2.png" width="20" height="20"id="icone3">
			</h5>
			<a class="btn btn-link botao-novo" href="/agencia">Agência
				 <img src="/imagens/agencia.png" width="20" height="20"id="icone2">
			</a>

		</div>

			<div class="form-group row">
				<label for="modelo" class="col-sm-2 col-form-label text-right">Modelo</label>
				<div class="col-sm-4">
					<input type="text" class=" form-control" id='modelo' th:field="*{modelo}"
						 placeholder="ex: CB-500R " >
				</div>
			</div>
			
			<div class="form-group row">
				<label for="ano"class="col-sm-2 col-form-label text-right">Ano</label>
					<div class="col-sm-2">
					<select class=" form-control" th:field="*{ano}">
						<option th:each="ano : ${todosAnos}" th:value="${ano}" th:text="${ano.ano}">
						</option>
					</select>
				</div>
				
			</div>
			
			<div class="form-group row"  >
				<label for="valorVenda" class="col-sm-2 col-form-label text-right" >Valor de Venda</label>
				<div class="col-sm-2">
					<input type="text" class=" form-control js-valor" id="valorVenda" th:field="*{valorVenda}"
						placeholder="ex: 8.200,00"  >
				</div>
			</div>
			
			<div class="form-group row">
				<label for="status" class="col-sm-2 col-form-label text-right">Status</label>
				<div class="col-sm-2">
					<select class=" form-control" name='status'>
						<option th:each="status : ${todosStatusTitulo}"
							th:value="${status}" th:text="${status.descricao}">
						</option>
					</select>
				</div>
			</div>

			<button type="submit" class="btn btn-outline-success "
				id="botaosalvar">Salvar</button>

		</div>
</form>


	<script src="/js/jquery-3.4.1.min.js"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/jquery.maskMoney.min.js}"></script>
	
	<script src="/js/motos.js"></script>
	
	
	
</body>
</html>